@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    ul,
    li {
        list-style: none;
    }
    a {
        display: inline-block;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    li,
    div,
    img,
    ul,
    ol,
    a {
        margin: 0;
        padding: 0;
    }
    @layer components {
        .iconHov {
            position: relative;
            z-index: 1;
        }
        .iconHov svg {
            color: #5f35f5;
        }
        .iconHov::before {
            position: absolute;
            content: "";
            top: -44%;
            left: -92%;
            width: 161px;
            height: 89px;
            background: #fff;
            z-index: -1;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        .iconHov::after {
            position: absolute;
            content: "";
            top: -44%;
            right: -143%;
            width: 8px;
            height: 89px;
            background: #5f35f5;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}