@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  ul,
  li {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  div,
  img,
  ul,
  ol,
  a {
    margin: 0;
    padding: 0;
  }
  @layer components {
    #navTrans a {
      position: relative;
      z-index: 1;
    }
    /* #navTrans a svg {
      color: #5f35f5;
    } */
    #navTrans a::before {
      position: absolute;
      content: "";
      top: -44%;
      right: -146%;
      width: 0;
      height: 89px;
      background: #fff;
      z-index: -1;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      transition: ease-in-out 0.2s;
      -webkit-transition: ease-in-out 0.2s;
      -moz-transition: ease-in-out 0.2s;
      -ms-transition: ease-in-out 0.2s;
      -o-transition: ease-in-out 0.2s;
    }
    #navTrans a.iconHov::before {
      width: 161px;
    }
    #navTrans a.iconHov svg {
      color: #5f35f5;
    }
    #navTrans a::after {
      position: absolute;
      content: "";
      top: -44%;
      right: -147%;
      width: 8px;
      height: 89px;
      background: #5f35f5;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
