/* navbar css part start */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}

.menuItemFlex {
    display: flex;
    column-gap: 50px;
}

.listItem {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    transition: ease-in-out.3s;
    -webkit-transition: ease-in-out.3s;
    -moz-transition: ease-in-out.3s;
    -ms-transition: ease-in-out.3s;
    -o-transition: ease-in-out.3s;
}

.listItem:hover {
    color: var(--primary_color);
}


/* navbar css part end */