/* expert css */

#expertFull {
    padding-top: 100px;
}

.expertBottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.person {
    position: relative;
}

.overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, rgba(89, 86, 232, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 34px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.person__header {
    font-family: var(--inter);
    font-size: 20px;
    font-weight: 600;
    color: var(--White_color);
}

.person__discrip {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    color: var(--White_color);
}


/* expert css */